body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.servicos-lista {
    list-style-type: square; /* Usando atributo do CSS */
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: #fff;
}
